In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('V5.csv')
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [3]:
df.shape

(10000, 12)

In [4]:
# Select all even indexed rows
df_even = df[::2]
df_even.shape

(5000, 12)

In [6]:
df_even.iloc[0, 3]

111440.0

In [7]:
df_even.iloc[332, 3]

256200.0

In [8]:
df_odd = df[1::2]
df_odd.shape

(5000, 12)

In [9]:
df_odd.iloc[332, 3]

352940.0

In [13]:
# Select odd-indexed columns (1, 3, ...)
df_odd_cols = df.iloc[:, 1::2]
df_odd_cols.shape

(10000, 6)

In [14]:
df_odd_cols.iloc[100, 5]

'West'

In [15]:
# Select all the even indexed columns and even indexed rows from the given
# dataset
df_even_rows_cols = df.iloc[::2, ::2]
df_even_rows_cols.shape

(5000, 6)

In [16]:
df_even_rows_cols.iloc[255, 3]

'Detached House'

In [20]:
# Determine the number of samples (rows) in the dataset that belong to the six
# most recent years, based on the data frame df
all_years = list(df['Year'].unique())
six_most_recent_years = all_years[-6:]
df_recent = df[df['Year'].isin(six_most_recent_years)]
df_recent.shape

(4749, 12)

logical and operator, which is not suitable for element-wise comparison in pandas

In [28]:
# Determine the number of samples (rows) in the dataset which has num_rooms = 3
# and num_bathrooms = 3
df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)].shape

(2730, 12)

In [29]:
# Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3
df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)].shape

(8591, 12)

In [30]:
# In the Year 2022, how many houses (rows) located in the Greenwich Locality
# have exactly num_room == 3, and facing towards either the North or East
df[(df['Year'] == 2022) & (df['Locality'] == 'Greenwich') & (df['num_rooms'] == 3) & ((df['Face'] == 'North') | (df['Face'] == 'East'))].shape

(42, 12)

In [32]:
# Getting month from date column
df['Month'] = pd.to_datetime(df['Date']).dt.month
df.head(1)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face,Month
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South,1

In [33]:
# Calculate the number of samples(rows) that correspond to the month of August
# across all the years
df[df['Month'] == 8].shape

(1050, 13)

In [34]:
# According to the data which Locality have highest average Sale Price
df.groupby('Locality')['Sale Price'].max().sort_values(ascending=False)

Locality
Greenwich        25750000.0
Fairfield        11445000.0
Norwalk           6040000.0
Stamford          4250000.0
Bridgeport        1700000.0
West Hartford     1470000.0
Waterbury          786511.0
Name: Sale Price, dtype: float64